/* font-family: 'Gilroy';
font-family: 'Playfair Display', serif;*/

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* base*/

body {
    margin: 0;
    font-family: 'Gilroy';
    background-color: #0B1D26;
    background-image: url("./../img/bg/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color:  #fff;
}

.container-wide  {
    max-width: 1790px;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    max-width: 1492px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/* header*/

.header {
    padding-top: 64px;
    padding-bottom: 843px;
}

.nav {
    margin-bottom: 198px;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    
}

.nav-menu {
    font-weight: 700;
    font-size: 18px;
}

.nav-menu ul {
    display: flex;
    font-style: none;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.nav-menu li + li {
    margin-left: 40px;
}

.nav-menu a {
    padding-bottom: 5px;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.nav-menu a:hover {
    color:#FBD784;
}

.nav-menu a::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color:#FBD784;
    opacity: 0;

    transition: all 0.2s ease-in;
}

.nav-menu a:hover::after {
    bottom: 0;
    opacity: 1;
}


.account {
    display: flex;
    column-gap: 8px;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color:  #fff;

    transition: all 0.2s ease-in;
}

.account svg path {
    fill: #fff;
    transition: all 0.2s ease-in;
}

.account:hover,
.account:hover svg path{
    color: #FBD784;
    fill: #FBD784;
}

.account p {
    display: inline-block;
    margin: 0;
}

.nav-button {
    position: relative;
    z-index: 9;
    display: none;
    height: 25px;
    border: none;
    padding: 0;
    cursor: pointer;

    background: none;
}

.nav-button-icon {
    position: relative;
    display: block;
    width: 42px;
    height: 5px;
    border: none;
    background-color: #fff;
}

.nav-button-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 42px;
    height: 5px;
    background-color: #fff;
}

.nav-button-icon::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    content: "";
    display: block;
    width: 42px;
    height: 5px;
    background-color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;

    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    
    width: 320px;
    height: 100%;

    padding: 70px 70px 50px 30px;

    background-color: rgba(44, 83, 99, 0.8);
}

.mobile-nav .nav-menu,
.mobile-nav .account {
    display: flex;
}

.mobile-nav .nav-menu ul {
    flex-direction: column;
}

.mobile-nav .nav-menu ul li {
    margin: 0;
    margin-bottom: 25px;
}
/* hero */
.hero {
    display: block;
    max-width: 980px;
    padding: 0 15px;
    margin: 0 auto;
    text-decoration: none;
    transition: transform 0.2s ease-in;
}

.hero:hover {
    transform: translateY(-5%);
}

.hero:hover .hero-scroll::after {
    animation: arrow-down 0.8s ease-out;
}

.hero-category {
    margin-bottom: 32px;
    position: relative;
    padding-left: 104px;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.hero-category::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color:#FBD784;
}

.hero-title {
    margin-bottom: 32px;
    font-family: 'Playfair Display', serif;
    font-size: 88px;
    font-weight: 500;
    line-height: 1.136;
    text-transform: capitalize;
    color: #fff;

}

.hero-scroll {
    display: inline-block;
    position: relative;
    padding-right: 32px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.222;
    color: #fff;
}

.hero-scroll::after {
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 16px;
    height: 24px;

    background-image: url("./../img/icons/arrow-down.svg");
}


@keyframes arrow-down {
    0% {
        top: 50%;
    }

    15% {
        top: 20%;
    }

    50% {
        top: 50%;
    }

    85% {
        top: 70%;
    }

    100% {
        top: 50%;
    }
}

/* main*/
.article {
    position: relative;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-text {
    position: relative;
    padding-left: 150px;
    max-width: 782px;
}

.article:nth-child(even) {
    flex-direction: row-reverse;
}

.article-text::before {
    position: absolute;
    left: 0;
    transform: translateY(-50%);

    display: block;
    content: attr(data-number);
    width: 240px;
    height: 240px;

    font-size: 240px;
    font-weight: 700;
    line-height: 1; 
    color: rgb(255, 255, 255, 0.1);
}

.article-subtitle {
    margin-bottom: 27px;
    position: relative;
    padding-left: 96px;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.article-subtitle::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color:#FBD784;
}

.article-title {
    max-width: 555px;
    margin-bottom: 27px;
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
}

.article-desc {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.777; 
    color: #fff;
}

.article-read-more  {
    margin: 0;
    display: inline-block;
    position: relative;
    padding-right: 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.222;
    color: #FBD784;
}

.article-read-more::after {
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 24px;
    height: 16px;

    background-image: url("./../img/icons/arrow-right.svg");
}

.article-text:hover .article-read-more::after {
    animation: arrow-right 0.6s ease-in-out;
}

@keyframes arrow-right {
    0% {
        right: 0;
    }

    50% {
        right: -10px;
    }

    100% {
        right: 0;
    }
}

.article-link {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.article-img {
    display: block; 
    width: 566px;
    height: 720px;
}



/* footer */

.footer {
    padding-bottom: 120px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
}

.footer-copyright-logo {
    margin-bottom: 24px;
}

.footer-copyright-desc {
    margin: 0;
    max-width: 303px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.78;
}

.footer-copyright-terms {
    margin: 0;
    margin-top: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.777; 
    color: rgb(255, 255, 255, 0.5)
}

.footer-nav-wrapper {
    display: flex;
}

.footer-nav {
    max-width: 200px;
}

.footer-nav + .footer-nav {
    margin-left: 212px;
}

.footer-nav-title {
    margin: 0;
    margin-bottom: 24px;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
    color:  #FBD784;
}


.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav li {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.77; /* 177.778% */
}

.footer-nav li + li {
    margin-top: 11px;
}

.footer-nav a {
    padding-bottom: 5px;
    position: relative;
    text-decoration: none;
    color: #fff;
}

.footer-nav a::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0;

    transition: all 0.2s ease-in;
}

.footer-nav a:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 1;
}




